@import "./colors.scss";

// 定义主题色
$theme-color-primary: $color-blue;
$theme-color-success: $color-green;
$theme-color-warning: $color-yellow;
$theme-color-danger: $color-red;
$theme-color-info: $color-grey;
$theme-color-background: $color-white;
$theme-color-text: $color-black;

// 定义页面内容
$color-background: $theme-color-background;
$color-text: $theme-color-text;